body {
    text-align: center;
    background-color: aqua;    
}

#screen {
    
}

#msgBoard {
    
}

.scores {
    display: inline-block;
    color: red;
    background-color: black;
}

#mineField {
    
}

.minePicture {
    background-image: url('./img/bomb.png');
    height: 100%;
    width: 100%;
}

div {
    height: 22px;
}

.sq {
    vertical-align: top;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: lightgrey;
    border: solid lightslategrey 1px;
}