body {
    text-align: center;
    background-color: aqua;    
}

#screen {
    
}

#msgBoard {
    
}

#mineField {
    
}

.sq {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: beige;
    color: blue;
}