body {
    text-align: center;
    background-color: aqua;    
}

#screen {
    
}

#msgBoard {
    
}

#scores {
    color: red;
    background-color: black;
}

#mineField {
    
}

div {
    height: 22px;
}

.sq {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: lightgrey;
    color: blue;
    border: solid lightslategrey 1px;
}